<projects>
	<project>
		<name>test1</name>
		<id>1</id>
		
		<sourceCode>
			<URL>http://192.168.16.10:8081/svn/test/trunk/test1</URL>
			<version>123<version>
		</sourceCode>
		
		<dependences>
			<dependence>
				<name>depen1</name>
				<version>v1.0</version>
				<repository>P-EF</repository>
				<platform>win32</platform>
				<configuration>Release</configuration>
				<location>../</location>
			</dependence>
			<dependence>
				<name>depen2</name>
				<version>v1.0</version>
				<repository>P-EF</repository>
				<platform>win32</platform>
				<configuration>Release</configuration>
				<location>../</location>
			</dependence>
			
			<projectDependence>
			</projectDependence>
		</dependences>
		
		<build>
			<name>MSBuilder</name>
			<command> </command>
			<parameter></parameter>
			<platform>win32</platform>
			<configuration>Release</configuration>
		</build>
		
		<testCase>
		</testCast>
		
		<tool>
			<name>Subversion</name>
			<environment> </environment>
		</tool>
	</project>
</projects>