<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.prolambda.scmserv.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RandCodeServlet</servlet-name>
    <servlet-class>com.prolambda.scmserv.servlet.RandCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReposManServlet</servlet-name>
    <servlet-class>com.prolambda.scmserv.servlet.ReposManServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserManServlet</servlet-name>
    <servlet-class>com.prolambda.scmserv.servlet.UserManServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserGroupManServlet</servlet-name>
    <servlet-class>com.prolambda.scmserv.servlet.UserGroupManServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SingleReposManServlet</servlet-name>
    <servlet-class>com.prolambda.scmserv.servlet.SingleReposManServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SysManServlet</servlet-name>
    <servlet-class>com.prolambda.scmserv.servlet.SysManServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.prolambda.scmserv.servlet.LogoutServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RandCodeServlet</servlet-name>
    <url-pattern>/RandCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReposManServlet</servlet-name>
    <url-pattern>/ReposManServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManServlet</servlet-name>
    <url-pattern>/UserManServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserGroupManServlet</servlet-name>
    <url-pattern>/UserGroupManServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SingleReposManServlet</servlet-name>
    <url-pattern>/SingleReposManServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SysManServlet</servlet-name>
    <url-pattern>/SysManServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>LoginServlet</welcome-file>
  </welcome-file-list>
</web-app>
